<% comments.each do |comment| %>
  <div class="card-body">
    <p class = "comment-name"><%= comment.user.name %></p> | <span class = "update-stamp"><%= l comment.updated_at, format: :short%></span>
    <p><%= comment.comment_content %></p>
  </div>
  <hr>
<% end %>