<p id="notice"><%= notice %></p>
<h1>Posts</h1>
<% @posts.each do |post| %>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title"><%= link_to post.title, post %></h5>
      <p class = "update-stamp"><%= l post.updated_at, format: :short%></p>
    </div>
  </div>
<% end %>
