.card-title {
  font-weight: bold;
  font-size: 1.375rem;
  
}

.update-stamp {
  font-size: 0.7499999999999999rem;
  color: #949494;
  margin: auto 0;
}

.login-input {
  border-radius: 2px;
  border: solid 1px #b2b2b2;
  background-color: #ffffff;
}

.check-label {
  font-family: YuGo;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.require-input-label {
  border-radius: 1px;
  background-color: #e2001b;
  font-size: small;
}

.require-input-label-text {
  font-family: YuGo;
  font-size: 7px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.submit-button {
  font-family: YuGo;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  background-color: #007BFF;
}

.login-text {
  font-family: YuGo;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #007BFF;
}

.error-message {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #e3342f
}

.comment-name {
  font-weight: bold;
  display: inline;
}

.title-information {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.fa-heart {
  margin-left: 1rem;
}